<header>
    <div >
      <h3 class="header-title">Asset Porter</h3>
      <p class="header-subtitle">Summary Page</p>
    </div>
  </header>
  <div class="text-center">
    <h1>Summary</h1>
    <div class="summary-content">
      <!-- <p class="success">13 pages have been successfully migrated</p>
      <p class="error">2 pages have error while migrating</p> -->
      <p>The migration has been done successfully .For the report click below</p>
      <div class="button-container">
        <button  class="download-button buttonstyle downloadButton"><!--<a [href]="downloadreport">--><a href="./assets/backend/Email Migration Report">Download Report</a></button>
        <a routerLink="/source"><button  class="download-button buttonstyle">Make another Deployment</button></a>
       
      </div>
    </div>
  </div>