/* You can add global styles to this file, and also import other style files */
body {
    font-family: 'Lato', sans-serif !important;
}
header{
    width:100%;
    background-color:#000000;
    height:70px;
}
.header-title{
color:#ffffff;
font-family: 'Lato',sans-serif;
-webkit-margin-before: 0 !important;
-webkit-margin-after: 0 !important;
 padding: 15px 15px 2px 15px;
}
.heading{
font-family: 'Lato',sans-serif ;
}
.right-login-container h2{
    font-family: 'Lato',sans-serif ;
}
.header-subtitle{
color:#86BC25;
font-size: 12px;
padding:0 0 10px 15px;
}
.img-container{
    padding:10px;
}
.logo{
    width:122px;
}
button:disabled{
background-color:#cccccc;
cursor:none;
}
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

.buttonstyle {
    padding: 10px 18px;
    background-color: #86BC25;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}
.asset-logo-container{
    text-align:center;
}
img.avatar {
    width: 20%;
}

.form-container{
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}
.left-login-container{
	background-color: #000000;
    height: 1000px;
}
.left-login-container .content{
	position:relative;
    top: 2%;
}
.right-login-container{
	 height: 1000px;
}
.tool-title{
	color:#86BC25;
    text-align:center;
    font-family: 'Lato',sans-serif;
    font-weight: 400;
}
.tool-description{
	color:#ffffff;
	text-align:center;
    padding:10px;
    font-family: 'Lato',sans-serif;
    font-weight: 200;
    font-size: 20px;
}
.tool-description-heading{
    font-size:30px;
    font-weight: 300;
}

.row{
    font-family: 'Lato',sans-serif;
}
/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}